# FortyGuard API Key
FORTYGUARD_API_KEY=4373c6fba3b8437d371427cec89d8052

# FortyGuard Base URL (Optional - defaults to https://api.fortyguard.com)
FORTYGUARD_BASE_URL=https://api.fortyguard.com

# Gemini API Key
GEMINI_API_KEY=aAQ.Ab8RN6L02ZppT18eVvt1NcIib9isyrGXoZIN0WT5zm9zo1RmVw
